{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
  <div class="container text-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>번호</th><th>제목</th><th>작성자</th>
        </tr>
      </thead>
      <tbody>
        {% for article in article_list %}
        <tr onclick="detail({{ article.id }})">
          <td>
            {{ article.title }}
          </td>
          <td>{{ article.content }}</td>
          <td>{{ article.user.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div style='text-align:center;'>
      <ul class='pagination'>
        {% for i in page_info %}
        <li>
          <a href='article/list/?page={{ i }}'>
            {{ i }}
          </a>
        </li>
      {% endfor %}
      </ul>
      </div>
    <button onclick="move()" class= ""
  </div>
</div>

<script>
    function detail(n) {
      //        back tick
      location = `/article/write/${n}/`;
    }

    function move() {
      // 주소 이동
      location = "/article/write/";
    }
</script>

  {% endblock %}